@page "/counter"
@using System.ComponentModel.DataAnnotations
@using System.Net.Mail
@rendermode InteractiveAuto


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<input type="text" 
<p role="status">Cuenta sexual: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<h2>@usuarioNuevo</h2>

@code {

    public class User
    {
        [EmailAddress]
        private readonly string _email;
        private string _username;
        private readonly string _password;
        private readonly bool _isAdmin;
        public User(string email, string username, string password, bool isAdmin)
        {
            _email = email;
            _username = username;
            _password = password;
            _isAdmin = isAdmin;
        }
        public string Email { get { return _email; } }
        public string Username { get { return _username; } }
        public bool AdminAccess { get { return _isAdmin; } }
        public bool ValidEmail(string email, List<User> Users)
        {
            try
            {
                var test = new MailAddress(email);
                return true;
            }
            catch (FormatException ex)
            {
                // Aqui con correo no es valido
            }
            return false;
        }
    }

    private int currentCount = 0;
    User usuarioNuevo = new User("hugo", "carloshugo", "123", true); 
    
    private void IncrementCount()
    {
        
        currentCount++;
    }
}
