* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

.best-choice {
    color: #f57c00;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
}

.title span.outline {
    border: 4px solid #000;
    padding: 0 10px;
}

.search-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Aumenta el espacio entre los elementos */
}

    .search-bar input {
        padding: 10px;
        font-size: 30px;
        width: 300px;
        border: 2px solid #ccc;
        border-radius: 20px;
        outline: none;
    }

    .search-bar button {
        background-color: black;
        color: white;
        border: none;
        padding: 15px 20px; /* Aumenta el tamaño del botón */
        border-radius: 50%; /* Mantiene la forma redondeada */
        cursor: pointer;
        font-size: 18px; /* Aumenta el tamaño de la fuente del botón si es necesario */
    }

.books {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    gap: 20px;
}

.book {
    width: 100px;
    height: 300px;
    background-color: #f57c00;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-20deg);
    font-size: 18px;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: relative;
    border-radius: 10px;
}

.book.modern-art {
    background-color: #1e88e5;
    transform: rotate(20deg);
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer p {
    font-size: 16px;
    color: #555;
}

footer .highlight {
    color: #f57c00;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('https://scontent.fgua9-2.fna.fbcdn.net/v/t39.30808-6/243120510_5010351828978944_7527152245795537948_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=XrmH_7BCYbcQ7kNvgG0DscW&_nc_zt=23&_nc_ht=scontent.fgua9-2.fna&_nc_gid=AJ_6xWdovDgiLyX151BRQ1X&oh=00_AYCEEoJkXm-8y4Ey9yU8051MWHozlhJyc3uOnZmND49DQA&oe=671D1D67'); /* Cambia 'background.jpg' por tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
}
