@page "/"

<PageTitle>Home</PageTitle>
<h3>Aquí pondremos el buscador</h3>
<br />





<form method="get" action="/Home/Search" class="search-form">
    <div class="search-container">
        <input type="text" name="query" placeholder="Search for books" class="search-input" />
        <button type="submit" class="search-button">Search</button>
    </div>
</form>


<p> será el buscador principal para cualquiera usuario interactué</p>
