@page "/"

<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="css/Styles.css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Carlos Mérida</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <header>
            <p class="best-choice">PROYECTO</p>
            <h1 class="title">BIBLIOTECA<br>Carlos<br><span class="outline">Mérida</span></h1>
            <div class="search-bar">
                <input type="text" placeholder="Enter">
                <button><i>&#8594;</i></button>
                <p>Buscar</p>
            </div>
        </header>

        <div class="books">
            <div class="book classic">
                <p>Señor Presidente</p>
            </div>
            <div class="book modern-art">
                <p>Hombre de Maíz</p>
            </div>
        </div>

        <footer>
            
        </footer>
    </div>
</body>
</html>
